In [3]:
import os
import sys
import numpy as np
import pandas as pd

from datetime import datetime, timedelta

In [4]:
vader_dir = os.path.join(os.getcwd(),'data','VADER')
news_dir = os.path.join(os.getcwd(),'data','news')

In [7]:
news_sentiment_data = pd.read_excel(os.path.join(news_dir,'news_sentiment_score.xlsx'),index_col=0)
news_sentiment_data = news_sentiment_data[['publish_date','sent_score_adj']]
news_sentiment_data

         publish_date  sent_score_adj
0    2022-03-21 14:04       -0.021824
1    2022-03-21 14:29       -0.048399
2    2022-03-21 07:00        0.092808
3    2022-03-21 09:00        0.020051
4    2022-03-21 13:21        0.059458
..                ...             ...
209  2022-03-21 04:30        0.091466
210  2022-03-21 04:30        0.074697
211  2022-03-21 04:30        0.111031
212  2022-03-21 04:00        0.079235
213  2022-03-21 02:00        0.079235

[214 rows x 2 columns]

In [8]:
news_sentiment_data = news_sentiment_data.astype({'sent_score_adj' : 'float'})
periodic_score = news_sentiment_data.groupby(['publish_date'], as_index=False).mean()
periodic_score['sent_score_adj_avg5'] = periodic_score['sent_score_adj'].ewm(span=5).mean()
periodic_score['sent_score_adj_avg20'] = periodic_score['sent_score_adj'].ewm(span=20).mean()
periodic_score['sent_score_adj_avg60'] = periodic_score['sent_score_adj'].ewm(span=60).mean()
periodic_score['sent_score_adj_avg180'] = periodic_score['sent_score_adj'].ewm(span=180).mean()
periodic_score['sent_score_adj_avg360'] = periodic_score['sent_score_adj'].ewm(span=360).mean()
periodic_score

,publish_date,sent_score_adj,sent_score_adj_avg5,sent_score_adj_avg20,sent_score_adj_avg60,sent_score_adj_avg180,sent_score_adj_avg360
0,2022-03-20 23:40,0.062779,0.062779,0.062779,0.062779,0.062779,0.062779
1,2022-03-20 23:50,-0.062000,-0.012089,-0.002730,-0.000651,0.000043,0.000216
2,2022-03-21 00:01,-0.140597,-0.072961,-0.053354,-0.048863,-0.047359,-0.046983
3,2022-03-21 00:39,-0.099711,-0.084072,-0.066736,-0.062217,-0.060666,-0.060275
4,2022-03-21 00:48,-0.065631,-0.076993,-0.066469,-0.062946,-0.061681,-0.061358
...,...,...,...,...,...,...,...
122,2022-03-21 14:26,0.083878,0.043442,0.032618,0.019985,0.007981,0.004152
123,2022-03-21 14:27,0.075488,0.054124,0.036701,0.021835,0.008978,0.004946
124,2022-03-21 14:28,-0.060768,0.015827,0.027418,0.019084,0.007952,0.004219
125,2022-03-21 14:29,0.029488,0.020380,0.027615,0.019430,0.008268,0.004497
126,2022-03-21 14:34,0.032912,0.024558,0.028120,0.019879,0.008628,0.004808